<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock%}</title>
</head>
<body>


        {% block nav %}

            <h2><nav>
                <a href="{{ url_for('form_registration') }}">Регистрация</a>
                <a href="{{ url_for('log_user') }}">Войти</a>
                {% if current_user.login%}
                    <a href="{{ url_for('logout') }}">Выйти</a>
                    {% if current_user.user_id %}
                        <a href="{{ url_for('my_profile') }}">Мой профиль</a>
                        <a href="{{ url_for('redaktor_prof') }}">Редактировать</a>
                        <a href="{{ url_for('user_search') }}">Поиск</a>
                    {% endif %}

                {% endif %}
            </nav></h2>
        {% endblock %}

        {% block form %}{% endblock %}


        {% block messeg %}

{% endblock %}


        {% block error %}{% endblock %}
        {% block search %}{% endblock %}


        {% block test %}{% endblock %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>