{% extends 'base.html' %}



        {% block nav %}

            <h2><nav>
                <a href="{{ url_for('form_registration') }}">Регистрация</a>
                <a href="{{ url_for('log_user') }}">Войти</a>

            </nav></h2>
        {% endblock %}
{% block meseg %}

{% endblock %}
{% block form %}
<div>
    <form method="post">

                <label>Логин</label>
        <input name="login" id="login" required><br>

        <label>Пароль</label>
        <input type="password"  name="password" required><br>
        <input type="submit" value="Регистрация">


    </form>

</div>
{% endblock %}


