<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post">

                <label>Yor login</label>
        <input name="login" id="login"><br>
                <label>Yor name</label>

        <input name="name" id="name"><br>
                <label>Yor last_name</label>

        <input name="last_name" id="last_name"><br>
                <label>Yor gender</label>

        <input name="gender" id="gender"><br>
                <label>Yor date_birth</label>

        <input name="date_birth" id="date_birth"><br>
                <label>Yor zodiac_sign</label>

        <input name="zodiac_sign" id="zodiac_sign"><br>
                <label>Yor height</label>

        <input name="height" id="height"><br>
                <label>Yor weight</label>

        <input name="weight" id="weight"><br>
        <label>Password</label>
        <input name="password" id="password">
        <input type="submit" value="Add">

    </form>

</div>
{%for user in users%}
    <ul>
        <li>
            {{user.login}}
        </li>

    </ul>
{%endfor%}


</body>
</html>