{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

        {% block nav %}

            <h2><nav>

                {% if current_user.login%}
                    <a href="{{ url_for('logout') }}">Выйти</a>
                    {% if current_user.user_id %}
                        <a href="{{ url_for('my_profile') }}">Мой профиль</a>
                        <a href="{{ url_for('redaktor_prof') }}">Редактировать</a>
                        <a href="{{ url_for('user_search') }}">Поиск</a>
                    {% endif %}

                {% endif %}
            </nav></h2>
        {% endblock %}


{% block form %}
    <h1> {{ user.name}} </h1>
<img src="{{ url_for('static', filename=user.pictures)}}" alt="">
    <h2>Фамилия</h2>
    <h4>{{ user.last_name }}</h4>
    <h2>Пол</h2>
    <h4>{{ user.gender }}</h4>
    <h2>Возраст</h2>
    <h4>{{ user.date_birth }}</h4>
    <h2>Знак зодиака</h2>
    <h4>{{ user.zodiac_sign }}</h4><br>


{% endblock %}
