{% extends 'base.html' %}
{% block nav %}

            <h2><nav>

                {% if current_user.login%}
                    <a href="{{ url_for('logout') }}">Выйти</a>
                    {% if current_user.user_id %}
                        <a href="{{ url_for('my_profile') }}">Мой профиль</a>
                        <a href="{{ url_for('redaktor_prof') }}">Редактировать</a>
                        <a href="{{ url_for('user_search') }}">Поиск</a>
                    {% endif %}

                {% endif %}
            </nav></h2>
        {% endblock %}

{% block form %}
<form method="post">

        <p><select name="gender_user">
            <option value="Мужской" id="gender_user">Мужской</option>
            <option value="Женский"  id="gender_user" selected>Женский</option>
           </select></p>
        <input name="min_ear" id="search"><br>
        <input name="max_ear" id="search"><br>
        <input type="submit" value="Поиск">

</form><br><br>
{% endblock %}

{% block search %}
{% for user in users %}
    <a href="{{ url_for('id_profile', id=user.id) }}"><div>
        {{ user.name }}
        {% if user.pictures%}
            <img src="{{ url_for('static', filename=user.pictures)}}" >
        {% else %}
            <img src="{{ url_for('static', filename='lol.png')}}" >
        {% endif %}

    </div></a><hr>
{% endfor %}
{% endblock %}